@charset "UTF-8";
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* evita barra de rolagem */

}
.login{
    background: white!important;
}
.full-height {
    height: 100vh;
    padding: 20px;
}
.full-height form{
    padding: 40px 100px;
}
.full-height .title{
    color: var(--color-primary);
    font-weight: bolder;
}

.full-height h5{
    color: var(--color-primary);
    font-weight: bolder;
    font-size: 15px;
}
.full-height form p{
    font-size: 12px;
}


.full-height form input, .full-height form input:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    border: none;
    font-size: 14px;
    border-radius: 8px;
    line-height: 38px;
    padding-left: 18px;
    height: 48px;
    background: #f0f2f5;
}

.card-login{
    background: var(--color-primary);
    background: linear-gradient(90deg,var(--color-secundary) 0%, var(--color-primary) 100%);
    height: 100%;
    border-radius: 30px;
    padding: 150px;
    color: white;
    margin-right: 20px;
}

.card-login .c h4{
    font-size: 2rem !important;
    color: white;
}

.card-login .c .title{
    font-size: 1.4rem !important;
    color: white;
}
.logo{
    padding: 30px;
    /*text-align: left;*/
    margin: auto;
}

.logo .box{
    text-align: left;
}

.logo h2{
    font-size: 1.9rem !important;
    color: #333333;
    line-height: 2.3rem;
}

.logo h2.name{
    font-size: 3.9rem !important;
    color: var(--color-primary);
    font-weight: bolder;
}