.bg-label-success {
  background-color: #d4edda;
  color: #155724;
}

.bg-label-error {
  background-color: #f8d7da;
  color: #721c24;
}

.bg-label-warning {
  background-color: #fff3cd;
  color: #856404;
}

.bg-label-info {
  background-color: #d1ecf1;
  color: #0c5460;
}

.bg-label-danger {
  background-color: #f5c6cb;
  color: #721c24;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}
