.student ul{
    margin: 0;
    padding: 0;
}
.student ul li{
    padding: 10px 0;
    margin-bottom: 10px;
    list-style-type: none;
    border-bottom: 1px solid var(--color-secundary);
}
.student ul li p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.student ul li span{
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.student ul li img{
    width: 40px;
    margin-right: 10px;
    border-radius: 5px;
}