.user-profile-img{
    width: 100px;
    position: absolute;
    bottom: 70px;
    left: 50px;
}

.user-profile-header-banner{
    max-height: 200px;
    overflow: hidden;
}

.timeline .timeline-item {
    position: relative;
    border: 0;
    border-inline-start: 1px solid var(--bs-border-color);
    padding-inline-start: 1.4rem;
    list-style: none;
}
.timeline .timeline-item .timeline-point {
    position: absolute;
    z-index: 2;
    display: block;
    border-radius: 50%;
    background-color: #696cff;;
    block-size: .75rem;
    box-shadow: 0 0 0 10px #fff;
    inline-size: .75rem;
    inset-block-start: 0;
    inset-inline-start: -0.38rem;
    outline: 3px solid rgba(105, 108, 255, 0.12);
}